[submodule "src/projects/ProjectDATA"]
	path = src/projects/ProjectDATA
	url = https://github.com/Rafaelh852/ProjectDATA.git
[submodule "src/projects/mentalHealth"]
	path = src/projects/mentalHealth
	url = https://github.com/Rafaelh852/mentalHealth.git
[submodule "src/projects/NODEmultigridsolver"]
	path = src/projects/NODEmultigridsolver
	url = https://github.com/Rafaelh852/NODEmultigridsolver.git
[submodule "src/projects/FEM1Dsolver"]
	path = src/projects/FEM1Dsolver
	url = https://github.com/Rafaelh852/FEM1Dsolver.git
[submodule "src/projects/FEM2Dsolver"]
	path = src/projects/FEM2Dsolver
	url = https://github.com/Rafaelh852/FEM2Dsolver.git
[submodule "src/projects/InferentialStatitstics"]
	path = src/projects/InferentialStatitstics
	url = https://github.com/Rafaelh852/InferentialStatitstics.git
